/* 全局样式表 */
@import '~assets/fonts/iconfont.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}
body .el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}
body .el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
body .el-table {
  margin-top: 15px;
  font-size: 12px;
}
body .el-pagination {
  margin-top: 15px;
}
body .el-cascader-menu {
  height: 250px;
}
/* 改变级联选择器样式，隐藏默认的圆圈，扩大点击范围 */
.el-cascader-menu .el-radio {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: -20px;
  opacity: 0;
}
body .el-steps {
  margin: 15px auto;
}
body .el-step__title {
  font-size: 13px;
}
body .ql-editor {
  min-height: 300px;
}
